.noUi-target,
.noUi-target * {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgb(241 9 9 / 0%);
  touch-action: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.noUi-base,
.noUi-connects {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
}

.noUi-connects {
  z-index: 0;
  overflow: hidden;
  border-radius: 3px;
}

.noUi-connect,
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  transform-style: flat;
  will-change: transform;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  position: absolute;
  right: -9px;
  top: -5px;
  border-radius: 9px;
  width: 13px;
  height: 13px;
  background: rgb(105 105 105);
  backface-visibility: hidden;
}

.noUi-touch-area {
  width: 30%;
  height: 30%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit;
}

.noUi-horizontal {
  height: 8px;
}

.noUi-horizontal .noUi-handle {
  right: -10px;
  top: -4px;
  cursor: pointer;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  right: -6px;
  bottom: -17px;
  width: 28px;
  height: 34px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

.noUi-target {
  border: 1px solid rgb(255 255 255);
  border-radius: 4px;
  width: 45%;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
  background: #fafafa;
}

.noUi-connect {
  background: rgb(0 199 183);
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  font-size: 10px;
  color: #ccc;
}

.noUi-marker {
  position: absolute;
  background: rgb(220 14 14);
}

.noUi-marker-sub {
  background: #aaa;
}

.noUi-marker-large {
  background: #aaa;
}

.noUi-pips-horizontal {
  left: 0;
  top: 100%;
  padding: 10px 0;
  width: 100%;
  height: 80px;
}

.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  left: 100%;
  top: 0;
  padding: 0 10px;
  height: 100%;
}

.noUi-value-vertical {
  padding-left: 25px;
  transform: translate(0, -50%);
}

.noUi-rtl .noUi-value-vertical {
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  margin-top: -1px;
  width: 5px;
  height: 2px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  position: absolute;
  display: block;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding: 5px;
  white-space: nowrap;
  text-align: center;
  color: #000;
  background: #fff;
}

.noUi-horizontal .noUi-tooltip {
  left: 50%;
  bottom: 120%;
  transform: translate(-50%, 0);
}

.noUi-vertical .noUi-tooltip {
  right: 120%;
  top: 50%;
  transform: translate(0, -50%);
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  left: auto;
  bottom: 10px;
  transform: translate(50%, 0);
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  right: 28px;
  top: auto;
  transform: translate(0, -18px);
}

.slider {
  height: 10px;
}
