.search-container {
  display: flex;
  width: 25%;
  gap: 5px;
}

.search-input {
  display: flex;
  border: 1px solid rgb(201 198 198);
  border-radius: 3px;
  padding: 10px;
  font-family: "Josefin+Sans", "Montserrat", sans-serif;
  font-size: 1rem;

  &::placeholder {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 0;
    outline-offset: 0;
  }
}
