.basket__image-container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 3px;
  width: 200px;
  height: 200px;

  .basket__image-container__img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 670px) {
    width: 150px;
    height: 150px;
  }

  @media (max-width: 550px) {
    width: 100px;
    height: 100px;
  }
}

.basket__text-container {
  @include font(Montserrat, 1rem, 300);

  width: 50%;

  @media (max-width: 670px) {
    font-size: 0.8rem;
  }

  @media (max-width: 550px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    height: 100px;
    font-size: 0.7rem;
  }
}

.basket__price-container {
  @include font(Montserrat, 0.8rem, 300);

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;

  .basket__price-container__button-price {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 1rem;

    .button-price__amount {
      margin: 5px 10px;
    }

    .button-price__minus {
      padding-bottom: 5px;
    }

    @media (max-width: 670px) {
      flex-direction: column;
    }
  }
}

.basket__price-old {
  text-decoration: line-through;
  color: rgb(193 0 0);
}
