.card-small-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 200px;
  height: 320px;
  background-color: rgb(255 255 255);
  transition: 0.2s;

  &:hover {
    box-shadow:
      -5px 0 10px #dbdbdb,
      -5px -5px 10px #fff,
      5px 5px 10px #dbdbdb,
      -5px -5px 10px #fff;
    background: #fff;
    cursor: pointer;

    .bottom-container__basketImg {
      opacity: 0.5;
      transition: 0.2s;
    }

    .card__bottom-container {
      .text-container__title {
        opacity: 1;
        transition: 0.2s;
      }
    }
  }
}

.card__image-container {
  display: flex;
  width: 100%;
  height: 75%;
  background-color: rgb(255 255 255);

  .image-container__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .bottom-container__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;

    .text-container__price {
      font-family: "Montserat", sans-serif;
      font-weight: 700;
      font-size: 1rem;
      color: rgb(0 0 0);
    }

    .text-container__title,
    .text-container__brand {
      padding-top: 7px;
      font-family: "Montserat", sans-serif;
      font-weight: 200;
      font-size: 1rem;
      color: rgb(0 0 0);
    }

    .text-container__title {
      font-size: 0.7rem;
      opacity: 0;
    }
  }

  .bottom-container__basketImg {
    align-self: flex-end;
    width: 45px;
    height: 45px;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
}
