#root {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  width: 940px;
  max-width: 1000px;
  gap: 20px;

  .no-result {
    color: rgb(0 0 0);
  }

  &.no-result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
  }
}

.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .divider {
    width: 100%;
    height: 1px;
    background-color: rgb(231 231 231);
  }

  .filterContainer {
    display: flex;
    gap: 30px;
  }

  .sliderContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 3px;
    padding: 10px;
  }
}
