#root {
  display: flex;
  justify-content: center;
  margin: 0 30px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
}

.container-cards {
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  width: 100%;
  gap: 20px;

  .amount {
    position: absolute;
    right: 0;
    top: -20px;
  }

  .no-result {
    color: rgb(0 0 0);
  }

  &.view {
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;

    @media (max-width: 1100px) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media (max-width: 700px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // &.view1 {
  //   grid-template-columns: repeat(1, 1fr);
  //   gap: 15px;
  // }

  &.no-result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 750px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.searchContainer {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 100%;
  background-color: rgb(255 255 255 / 97%);
  gap: 10px;

  .divider {
    width: 100%;
    height: 1px;
    background-color: rgb(231 231 231);
  }

  .sliderContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 3px;
    padding: 10px;
  }
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.sortContainer {
  display: flex;
  gap: 30px;

  .caption-container {
    margin-left: 0;
    width: 110px;
  }

  .containerBTN {
    display: flex;
    margin-left: auto;
    gap: 5px;

    .clear-btn {
      @include flex;

      margin-left: auto;
      border: 1px solid rgb(1 1 1);
      border-radius: 3px;
      padding: 5px;
      width: 60px;
      height: 100%;
      background-color: transparent;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        color: rgb(255 255 255);
        background-color: rgb(0 0 0);
        transition: 0.2s;
      }
    }

    .view-btn {
      @include flex;

      border: none;
      border-radius: 3px;
      width: 35px;
      height: 35px;
      background-image: url("../assets/img/view.png");
      background-size: cover;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      &.view {
        background-image: url("../assets/img/view1.png");
      }

      &.view1 {
        background-image: url("../assets/img/view2.png");
      }
    }
  }
}
