.basket {
  display: flex;
  flex-direction: column;
}

.basket__info-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.pagination-container__amount-rows {
  display: flex;
}

.pagination-container__amount-pages {
  display: flex;
}

.amount-pages__page {
  margin: 0 10px;
}

.basket__promo-container {
  display: flex;
  justify-content: flex-end;

  .promo-container__list {
    display: flex;

    .promo-container__list__item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      border-radius: 10px;
      padding: 0 5px;
      width: auto;
      height: 20px;
      background-color: rgb(178 181 184);

      .list__item__promo-value {
        margin: 0 5px;
      }
    }
  }

  .promo-container__functional {
    display: flex;
  }
}

.basket__prices {
  display: flex;
  align-self: flex-end;
  margin-top: 30px;

  .basket__prices-container {
    display: flex;
  }
}

.basket__price-container__price-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prices-container__total-prices-container {
  display: flex;
  align-items: center;
}

.prices-container__total-prices {
  margin-right: 10px;
}
