.basket {
  display: flex;
  flex-direction: column;
  width: 100%;

  .basket-items {
    @include flex;

    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .basket__serial-number {
    @include font(Montserrat, 1rem, 500);
    @include flex;

    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    color: rgb(255 255 255);
    background-color: rgb(255 166 0);
  }
}

.basket-item-container {
  @include flex;

  position: relative;
  justify-content: space-between;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  background-color: rgb(145 145 145);

  @media (max-width: 500px) {
    height: 120px;
  }
}

.basket__info-container {
  @include font(Montserrat, 1rem, 500);

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 3px;
  padding: 10px;
  color: rgb(0 0 0);
  background-color: rgb(213 213 213);

  .basket__info-container__name {
    @media (max-width: 500px) {
      display: none;
    }
  }
}

.pagination-container__amount-rows {
  display: flex;
  gap: 5px;
}

.amount-rows__input {
  width: 50px;
}

.pagination-container__amount-pages {
  @include flex;
}

.amount-pages__page {
  margin: 0 10px;
}

.basket__promo-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;

  .promo-container__list {
    display: flex;

    .promo-container__list__item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      border-radius: 10px;
      padding: 0 5px;
      width: auto;
      height: 20px;
      background-color: rgb(178 181 184);

      .list__item__promo-value {
        margin: 0 5px;
      }
    }
  }

  .promo-container__functional {
    display: flex;
    gap: 10px;
  }
}

.basket__prices {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-top: 30px;

  .basket__prices-container {
    display: flex;
  }
}

.basket__price-container__price-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prices-container__total-prices-container {
  display: flex;
  align-items: center;
}

.prices-container__total-prices {
  margin-right: 10px;
}

.amount-rows__button-minus,
.amount-rows__button-plus {
  @include flex;

  border-radius: 3px;
  width: 30px;
  height: 30px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    color: rgb(255 255 255);
    background-color: rgb(0 0 0);
    transition: 0.2s;
  }
}

.promo-container__functional__button,
.prices-container__byu {
  @include flex;

  border-radius: 3px;
  width: 30%;
  height: 35px;
  min-width: 100px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    color: rgb(255 255 255);
    background-color: rgb(0 0 0);
    transition: 0.2s;
  }
}
